[submodule "minecraft-wallpapers"]
	path = minecraft-wallpapers
	url = https://github.com/mhkarimi1383/minecraft-wallpapers.git
[submodule "rose-pine-hyprland"]
	path = rose-pine-hyprland
	url = https://github.com/rose-pine/hyprland
[submodule "rose-pine-wallpapers"]
	path = rose-pine-wallpapers
	url = https://github.com/rose-pine/wallpapers
